.card-lesson {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
	transition: 0.3s;
	text-align: center;

	&:hover {
		box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);

		.card-lesson-controller {
			visibility: visible;
		}
	}

	&-title {
		cursor: pointer;
		padding: 10px 10px 0 10px;

		&::after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 0;
			height: 2px;
			background-color: rgba(0, 0, 0, 0.85);
			transition: width 0.3s ease-out;
		}

		&:hover:after {
			width: 100%;
		}
	}

	&-controller {
		transition: 0.3s;
		visibility: hidden;
		display: flex;
		gap: 10px;
		position: absolute;
		right: 15px;
		top: 15px;
	}

	&-icon {
		cursor: pointer;
		font-size: 20px;
		transition: 0.3s;
		border-radius: 50%;
		padding: 5px;

		&:hover {
			background-color:#b5f5ec;
		}

		&:hover:nth-child(1) {
			color: #1890ff;
		}

		&:hover:nth-child(2) {
			color: #f5222d;
		}
	}
}