.header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
	min-height: 45px;
	padding: 0 15px;

	.back {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.auth-controller {
		display: flex;
		gap: 15px;
		justify-content: center;
		align-items: center;

		& > .ant-btn {
			padding: 0;
			margin: 0;
		}
	}
}