.mobile-menu {
	&-content {
		padding: 10px 15px;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		position: absolute;
		right: 0;
		top: 0;
		width: 45%;
		height: 100vh;
		z-index: 10;
		border-left: 1px solid #f0f0f0;
	}

	&-nav {
		display: flex;
		flex-direction: column;
	}

	&-auth {
		margin-top: 30px;
		display: flex;
		flex-direction: column;

		& > .ant-btn {
			text-align: left;
			padding-left: 0;
		}
	}
}